
/**
 * @file
 * main.css
 */

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #111;
  margin: 0;
}
a { 
  color: #FFFFFF; 
}
a:hover { 
  color: #111111; 
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* Custom class name */
.sybil-carousel .oldie,
.sybil-carousel .newbie {
  position: absolute;
  width: 100%;
}
.sybil-carousel .oldie.hidden,
.sybil-carousel .newbie.hidden {
  opacity: 0;
}

#sybil2 div {
  height: 250px;
}

.navigation {
  width: 325px;
  position: fixed;
  height: 100%;
  left: -325px;
  background: #fff;
  top: 0;
  z-index: 4;
  padding: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.navigation.open {
  left: 0;
  border-right: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.navigation .navbar-header {
  text-align: center;
  padding: 20px 0;
}
.navigation .navbar-header .menu-toggle {
  color: #333;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  margin-left: 10px;
  z-index: 3;
}
.navigation .nav li {
  padding: 5px 0;
  list-style: none outside none;
}
.navigation .nav li a {
  color: #333333;
  text-decoration: none;
}

.main {
  -webkit-transition: all 1.3s ease-in-out;
  -moz-transition: all 1.3s ease-in-out;
  -o-transition: all 1.3s ease-in-out;
  transition: all 1.3s ease-in-out;
}
.main.open {
  margin-left: 250px;
}

.page-wrapper .page {
  position: relative;
  width: 85%;
  margin: 0 auto;
}
.page-wrapper.example {
  background: none repeat scroll 0 0 #161616;
}
.page-wrapper.about {
  background: none repeat scroll 0 0 #EEEFF0;
  /*position: relative;
  top: -200px;*/
}
.page-wrapper.support {
  background: none repeat scroll 0 0 #EEEFF0;
}
.page-wrapper.carousel {
  height: 250px;
}
.page-wrapper .page .page-title {
  width: 90%;
  margin: 0 auto;
}
.page-wrapper .page .content {
  width: 88%;
  margin: 0 auto;
}

.header-wrapper {
  position: absolute;
  width: 100%;
}
.header-wrapper .header {
  width: 1180px;
  height: 50px;
  margin: 50px auto 0;
}
.header-wrapper .header .link {
  position: relative;
  background: rgba(0, 0, 0, 0.3); 
  border: 1px dotted #FFFFFF;
  border-radius: 2px;
  color: #FFFFFF;
  display: table-cell;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out 0s;
  text-shadow: 1px 1px 1px #333333;
  width: 50%;
  z-index: 3;
}
.header-wrapper .header .link:hover {
  background: rgba(0, 0, 0, 0.6);
}
.header-wrapper .header .link.download {
  border-right: none;
  border-radius: 2px 0px 0px 2px;
}
.header-wrapper .header .link.docs {
  border-radius: 0px 2px 2px 0;
}
.header-wrapper .header .menu-toggle {
  position: relative;
  font-size: 20px;
  z-index: 3;
  cursor: pointer;
}
.header-wrapper .header .menu-toggle.active {
  opacity: 0.7;
}
.header-wrapper .header .links-wrapper {
  width: 23%;
  margin: 75px auto 0;
}
.header-wrapper .header .logo-wrapper {
  width: 50%;
  margin: 25px auto 0;
  text-align: center;
}
.header-wrapper .header .logo-wrapper .logo {
  position: relative;
  font-family: 'Londrina Outline', cursive;
  color: #EEEFF0;
  font-size: 72px;
  text-shadow: 1px 1px 1px #333333;
  z-index: 3;
}

.animation-select {
  position: relative;
  text-align: center;
  z-index: 3;
}

#page-home {
  position: relative;
  overflow: hidden;
}

#page-about{
  width: 80%;
  margin: 0 auto;
}
#page-about .about-wrapper {
  display: table;
  margin: 0 auto;
  padding: 20px 0;
}
#page-about .item {
  display: table-cell;
  padding: 25px 50px;
}
#page-about .item .icon {
  float: left;
  color: #111111;
  font-size: 76px;
  margin-right: 25px;
}
#page-about .item .content {
  padding: 25px 35px;
  text-align: center;
}

#page-api {
  position: relative;
  padding: 25px 0;
}
#page-api .page-title .title {
  color: #EEEFF0;
}
#page-api .content .section {
  color: #EEEFF0;
  padding: 0 25px;
  overflow: hidden;
}
#page-api .content .section table {
  width: 50%;
}
#page-api .content .section table tr td {
  padding: 7px 25px;
}
#page-api .content .section table thead tr th {
  text-align: left;
}
#page-api .content .section .section-content {
  float: left;
}
#page-api .content .section .section-content code {
  float: left;
}
#page-api .content .section .section-content pre {
  margin: 0;
}
#page-api .content .section .section-content pre textarea {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  color: #FFFFFF;
  height: 110px;
  width: 100%;
  min-width: 400px;
  resize: none;
}
#page-api .content .section .section-content pre textarea.large {
  height: 200px;
}

#page-examples {
  padding: 15px 0;
  background: none repeat scroll 0 0 #161616;
}
#page-examples .page-title {
  color: #FFF;
}
#page-examples .content {
  color: #FFF;
}

#page-support {
  padding: 25px 0;
  background: none repeat scroll 0 0 #EEEFF0;
}
#page-support a {
  color: #111;
}

.footer {
  color: #FFF;
  text-align: center;
}
.footer p {
  font-size: 13px;
  padding: 15px 0;
}
